<div class="top-blank">
<%= render "layouts/admin/header" %>
</div>
<%= link_to 'Back', :back %>

<h3 class="section-title section-title-sm left">
<span>商品編集</span>
</h3>



<div class="container-fluid">
  <div class="row">
    <div class="col-sm-2" style="background-color:red;">
     <!-- refile機能の実装まだ -->
     <input type="file">
    </div>
    <div class="col-sm-4" style="background-color:blue;">Blue</div>
    <div class="col-sm-6" style="background-color:yellow;">Yellow</div>
  </div>
</div>
<footer style="background-color:gray">Footer</footer>
