<%= render 'layouts/admin/header' %>


<div class="contener">
	<div class="row btn-margin-top">
		<div class="col-xs-3" style="text-align: center;">
			<%= link_to "Back", :back, class: "btn btn-primary btn-xs" %>
		</div>
	</div>
	<div class="row">
		<div class="col-xs-3" style="text-align: right;">
			<h2><strong>ジャンル編集</strong></h2>
		</div>
	</div>
</div>

<div class="contener">
	<div class="row">
		<div class="col-xs-6 col-xs-offset-3">
			<table class="table">
				<thead>
					<tr><h1>編集</h1></tr>
				</thead>
				<%# @genres.each do |g| %>
				<tbody>
					<tr>
						<td>ジャンル名</td>
						<td><%= link_to '削除', "#", class: "btn btn-danger" %></td>
					</tr>
				</tbody>
				<%# end %>
			</table>
		</div>
		<div class="col-xs-3" style="text-align: left;">
			<h1>新規ジャンル</h1>

			<%#= form_for(@genre) do |g| %>
			<div style="margin-top: 50px">入力</div>
			<%#= f.text_field :genre_name, class: 'col-xs-12' %>
			<%#= f.submit "Create Genre", class: "btn btn-primary col-xs-12" %>
			</div>
			<%# end %>
		</div>
	</div>
</div>