// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body{
	padding-top: 90px;
}
.wrap{
	width: 100%;
	position: relative;
	min-height: 100%;
}

////header////
.user_header{
	background: linear-gradient(-90deg, #983484, #FFE852);
}
.Logo{
	margin-left: 80px;
}
.navlink{
	display: inline-block;
	line-height: 90px;
	font-size: 15px;
	padding-right: 20px;
	margin-right: 0;
}

////footer///
footer{
	background-color: #656565;
	width: 100%;
	height: 40px;
	line-height: 40px;
	position: absolute;
	position: fixed;
}

////sidebar////
.side-bar{
	height: 980px;
}
.genre_list{
	// padding-top: 20px;
	// font-size: 20px;
	// list-style: none;

  color: black;
  border-left: solid 8px orange;
  background-color: #fdcbcba1;
  margin-bottom: 5px;
  line-height: 1.5;
  padding: 0.5em;
  list-style-type: none;
}
.banner{
	text-align: center;
	background-size: cover;
	background-position: center;
	margin-top: 10px;
}

////top////
.bx-wrapper{
	border: 0;
}
.BANANA{
	height: 100px;
}
.pickup{
	background-position: center;
}

////SignUp////
.panel-heading{
	text-align: center;
}