// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
html{
	height: 100%;
}
body{
	padding-top: 90px;

	height: 100%;
	// メインコンテンツの高さとサイドバーの高さを揃えるため記述しています
	// overflow: hidden;
}
.wrap{
	width: 100%;
	position: relative;
	min-height: 100%;
}

////header////
.user_header{
	background: linear-gradient(-90deg, #983484, #FFE852);
	max-height: 90px;
}
.user-notice{
	font-size: 20px;
	padding-left: 200px;
}
.navlink{
	right: 10%;
	display: inline-block;
	line-height: 90px;
	font-size: 15px;
	padding-right: 20px;
	margin-right: 0;
}
.hako{
	max-height: 90px;
}

////footer///
footer{
	background-color: #656565;
	width: 100%;
	height: 40px;
	line-height: 40px;
	position: absolute;
	position: fixed;
}

////sidebar////
.side-bar{
	// メインコンテンツの高さとサイドバーの高さを揃えるため記述しています
	padding-bottom: 32768px;
	margin-bottom: -32768px;
}
.genre_list{
  color: black;
  border-left: solid 8px orange;
  background-color: #fdcbcba1;
  margin-bottom: 5px;
  line-height: 1.5;
  padding: 0.5em;
  list-style-type: none;
  transition-property: box-shadow;
  &:hover {
  	box-shadow: 2px 2px 2px;
  }
}
.banner{
	text-align: center;
	background-size: cover;
	background-position: center;
	margin-top: 10px;
}

////top////
.bx-wrapper{
	border: 0;
}
.BANANA{
	height: 100px;
}
.pickup{
	background-position: center;
}

////SignUp////
.panel-heading{
	text-align: center;
}

////Profile Edit////
.passbox{
	margin-top: 20px;
}

