<!-- renderでヘッダーをここに呼び出す -->

<div class="container">
	<div class="row">
		<div class="col-xs-6">
			<h2>ご購入ありがとうございました。<br>
				またのご利用をお待ちしております。
			</h2>
			<p><%= link_to "Topページに戻る", lovers_root_path %></p>
		</div>
	</div>
</div>

<!-- renderでフッターをここに呼び出す -->
