<div class="row btn-margin-top">
	<div class="col-xs-offset-9 col-xs-3">
		<div class="row">
			<div>
				<%= link_to '購入履歴一覧', admin_top_path, class: "btn btn-success btn-block" %>
			</div>
			<div>
				<%= link_to '購入履歴一覧', admin_top_path, class: "btn btn-primary btn-block" %>
			</div>
		</div>
	</div>
</div>


		<%#= link_to '一覧', admin_top_path, class: "btn btn-lg btn-grey btn-block" %>
