<div id ="wrap" style="margin-top: 40px">
	<footer id="footer" style="bottom: 0">
		<nav class="col-xs-2 col-xs-offset-10">
				<%= link_to "管理者ログイン", new_admin_session_path %>
		</nav>
	</footer>
</div>