<div class="col-xs-3 side-bar" style="position: fixed" >

<body class="drawer drawer--left">
  <header role="banner">
    <div class="genre_list col-xs-12 drawer-toggle" style="margin-top: 20px">ジャンル一覧</div>
    <nav class="drawer-nav" role="navigation">
		<ul class="drawer-menu">
			<li class="genre-nav" id="wrapper" style="text-align: center">
          	  <% @genres.each do |g| %>
            	<%= link_to g.genre_name, lovers_genres_path(g), class: "dr-genre_list col-xs-12" %>
           	  <% end %>
      		</li>
      	</ul>
    </nav>
  </header>
  <main role="main">
	<ul style="text-align: center">
		<div class="col-xs-12">　</div>
		<%= link_to "一覧", lovers_items_path, class: "genre_list col-xs-12" %>
	</ul>
	<div class="banner-box" style="text-align: center">
		<a href="https://ja.wikipedia.org/wiki/%E3%82%BF%E3%82%A4%E5%8F%A4%E5%BC%8F%E3%83%9E%E3%83%83%E3%82%B5%E3%83%BC%E3%82%B8">
		<img class="side-banner col-xs-10 col-xs-offset-1" src="/Thailand.jpg" width="300" height="80">
		</a>
		<a href="https://www.sejuku.net/">
		<img class="side-banner col-xs-10 col-xs-offset-1" src="/samurai1.jpg" width="300" height="80" vspace="10">
		</a>
		<a href="https://prog-8.com/">
		<img class="side-banner col-xs-10 col-xs-offset-1" src="/progate1.jpg" width="300" height="80">
		</a>
	</div>
  </main>

<script>
$('.drawer').drawer({
class: {
nav: 'drawer-nav',
toggle: 'drawer-toggle',
overlay: 'drawer-overlay',
open: 'drawer-open',
close: 'drawer-close',
dropdown: 'drawer-dropdown'
},
iscroll: {
mouseWheel: true,
preventDefault: false
},
showOverlay: true
});
</script>

</body>
</div>

