<div class="col-xs-3 side-bar" style="background-color: #ffe69c">
	<ul class="genre-nav" style="text-align: center">
		<h3>ジャンル</h3>
		<% @genres.each do |g| %>
		<li class="genre_list">
			<%= link_to_unless_current g.genre_name, lovers_genres_path(g) %></li>
		<% end %>
		<br>
		<li class="genre_list"><%= link_to "一覧", lovers_items_path %></li>
	</ul>
	<div class="banner-box" style="text-align: center">
		<a href="https://ja.wikipedia.org/wiki/%E3%82%BF%E3%82%A4%E5%8F%A4%E5%BC%8F%E3%83%9E%E3%83%83%E3%82%B5%E3%83%BC%E3%82%B8">
		<img class="banner col-xs-10 col-xs-offset-1" src="/Thailand.jpg" width="300" height="80">
		</a>
		<a href="https://www.sejuku.net/">
		<img class="banner col-xs-10 col-xs-offset-1" src="/samurai1.jpg" width="300" height="80" vspace="10">
		</a>
		<a href="https://prog-8.com/">
		<img class="banner col-xs-10 col-xs-offset-1" src="/progate1.jpg" width="300" height="80">
		</a>
	</div>
</div>